<div class="owner-layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="logo-section">

      <div class="logo">
        O
      </div>

      <h2>
        Owner
      </h2>

    </div>

    <nav class="menu">
      <a class="menu-item" routerLink="/owner/listings" routerLinkActive="active">
        My listings
      </a>
      <a class="menu-item" routerLink="/owner/new-listing" routerLinkActive="active">
        + New listing
      </a>
      <a class="menu-item" routerLink="/owner/ads" routerLinkActive="active">
        Mes annonces
      </a>
      <a class="menu-item" routerLink="/owner/new-ad" routerLinkActive="active">
        + Publier une annonce
      </a>
      <a
        class="menu-item"
        routerLink="/owner/requests"
        routerLinkActive="active"
      >
        Demandes reçues
      </a>
    </nav>

  </aside>

  <!-- MAIN -->
  <div class="main-content">

    <!-- TOPBAR -->
    <header class="topbar">

      <h1>
        Owner Dashboard
      </h1>

      <div class="topbar-right">

        <button
          class="logout-btn"
          (click)="logout()"
        >
          Logout
        </button>

        <div class="profile">
          OWNER
        </div>

      </div>

    </header>

    <!-- CONTENT -->
    <main class="page-content">

      <router-outlet></router-outlet>

    </main>

  </div>

</div>
